{% extends 'app_1/base.html' %}
{% load static %}

{% block content %}

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">¡Bienvenidos Gamers!</h2>
            <h3 class="section-subheading text-muted">Encontrá un equipo a tu medida</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Armá tu Equipo</h4>
                <p class="text-muted">Crea el equipo perfecto para tus partidas online. Ya sea que busques compañeros para juegos casuales o un equipo competitivo, aquí puedes encontrar personas con intereses y habilidades similares.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Busca equipo</h4>
                <p class="text-muted">Encontrá tu equipo ideal. Conéctate con otros jugadores que buscan compañeros de equipo para partidas online.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Chat Gamer</h4>
                <p class="text-muted">la comunicación no se detiene al momento de buscar o formar un equipo. A través de nuestro chat de texto, podrás ponerte en contacto fácilmente con otros usuarios, ya sea para coordinar equipos, intercambiar ideas o simplemente hacer nuevos amigos.</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock  %}
    
