{% extends 'app_1/base.html' %}
{% load static %}
{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Enviar Mensaje</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="destinatario">Destinatario</label>
                            <select name="destinatario" id="destinatario" class="form-control">
                                {% for usuario in usuarios %}
                                    <option value="{{usuario.username}}">{{usuario.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" class="form-control" placeholder="Escribe tu mensaje"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}